.player {
    display: flex;
    align-items: center;
    width: 250px;
    padding: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    span {
        font-size: 32px;
        margin-left: 16px;
    }

    img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.player-active {
    background-color: rgba(255, 255, 255, 0.4) !important;
}

@media (max-width: 992px) {
    .player {
        border-top-left-radius: unset;
        border-bottom-left-radius: unset;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }
}